<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LAMBDA_URL</key>
	<string>$(LAMBDA_URL)</string>
	<key>AWS_REGION</key>
	<string>$(AWS_REGION)</string>
	<key>COGNITO_CLIENT_ID</key>
	<string>$(COGNITO_CLIENT_ID)</string>
</dict>
</plist>
